li{
    list-style-type: none;
}

h3,h1{
    margin-top:5px;
    margin-bottom: 5px;
}

.right_content>div{
    margin-left: 10px;
}

h2{
    text-align: center;
}

.ul_teh_osv>li{
    text-align: center;
}

/*Основная инф*/

.div_osnova{
    display: flex;
    flex-direction: column;
    color:#26373b;/*цвет букв*/
}

.div_osnova>div{
    margin-bottom: 30px;
    margin-top: 15px;
}

.div_osnova h4{
    text-align: start;
}

.div_osnova>ul{
    border: 1px dashed #ffffff;
    border-right: none;
    border-left: none;
    margin-right: 10px;
    background-color: rgb(217 217 217);
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.div_osnova>ul>li{
    margin-left: 10px;
}

/*Конец основн инф*/

.ul_teh_osv>li>h4{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.ul_teh_osv>li>h4 p{
    margin: 0;
    width: 100%;
    text-align: center;
}

/*Таблица приложений*/

.tablePrilo{
    width:100%;
    padding-right: 10px;
}

.tablePrilo>table{
    width:100%;
    margin-bottom: 50px;
    font-size: 0.8rem;
    color:#26373b;/*цвет букв в таблице*/
    border-collapse: collapse;
}

.tablePrilo>table>tbody>tr>td{
    text-align:center;
}

.tablePrilo>table>tbody>tr{
    height: 30px;
}

.tablePrilo>table>tbody>tr,.tablePrilo>table>tbody>tr>td{
    border:1px solid rgb(255, 255, 255);
}

/*конец таблицы приложений*/

/*Админ изменение данных*/
.h3_change{
    display: flex;
    justify-content: center;
}
.h3_change_padd_90{
    display: flex;
    padding-left: 90px;
}
.change_tehPasport{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.vlozh_div{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border:1px solid #242424;
    margin:5px 90px 5px 90px;
    flex-wrap: wrap;
}
.vlozh_div>div{
    width:33.3%;
    display: flex;
    justify-content: space-between;
}
.target1{
    background-color: #bebebe;
    color: rgb(124, 121, 121);
    margin-top:-5px;
    min-height: 1000px;
    padding-bottom: 10px;
}
.input_target1{
    background-color: #ececec;
    color: rgb(0, 0, 0);
    border:1px solid #707070;
}
.target2{
    background-color: rgb(165 185 225);
    color:rgb(236 236 236);
    border-bottom: 1px solid rgb(236 236 236);
    position: fixed;
    width: 100%;
}
.target2>h1{
    padding-top:10px;
}
.target3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.target3>div{
    min-width: 410px;
}
.target3>div>div{
    display: flex;
    justify-content: space-between;
}
.target4{
    padding-top:150px;
    color:#000;
}

/*конец Админ изменение данных*/



